name: Deploy Backend

on:
  workflow_dispatch: 

defaults:
  run:
    working-directory: backend

env:
  AWS_REGION: "us-east-1"

permissions:
  id-token: write
  contents: read

jobs:
  Depoy-backend:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_BOOKVAULT_ARN }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.6.6

      - name: Terrafrom Plan
        run: |
          terraform init
          terraform validate
          terraform plan
      # - name: Terraform apply
      #   run: |
      #     terraform apply --auto-approve

      - name: Terrafrom Destroy
        run: |
          terraform destroy --auto-approve
          